.div-one{
	background-color: #ffc107;
	color: black;
	display: block;
}
.div-two{
	background-color: #2b2b2b;
		color: #ffffff;
		display: block;
}
.div-three{
	background-color: #ffc107;
	color: black;
	display: block;
}